@model KeepItSimpleTrainer.Models.Club

@{
    ViewBag.Title = "Club";
}

<h2>Club</h2>

<div>
    <h4>Club</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.club_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.club_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trainings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trainings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.club_leader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.club_leader)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
